<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="details content">
        <h2><%= blog.title %> </h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <p class="details-author">Created by: </p>
        <% if (blog.author == undefined){ %>
            <p style="margin-top: 10px; display: inline;"><strong>Anonymous</strong></p>
        <% } else { %>
        <strong><%= blog.author %> </strong></p>
        <% } %>
        <a class="delete" data-doc="<%= blog._id %>">
            <img src="/trashcan.svg" alt="delete-icon">
        </a>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector('a.delete'); // selecting the a tag w/ the delete id

        if(trashcan){
            trashcan.addEventListener('click', (e) => {
                e.preventDefault(); // if event isnt handle, no default action
                const endpoint = `/blogs/${trashcan.dataset.doc}`;

                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect) // redirecting to /blogs
                .catch((err) => console.log(err))
            });
        }
    </script>
</body>
</html>